@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');

html {
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: hsla(6 93% 71% / .05);
  /* color: #2a1513; */
  color: #1D2D44;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main {
  margin: auto;
  max-width: 60ch;
  padding: 2rem;
  padding-bottom: 4rem;  
}

h1 {
  font-size: 23px;
  padding: 0;
  position: relative;
}

h1::after {
  content: '';
  background-color: salmon;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

p {
  line-height: 1.6;
}

ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin: none;
}

li {
  margin-right: 1.5rem;
}

a {
  /* color: #b33939; */
  color: #1D2D44;
  /* outline: 2px solid salmon; */
  text-decoration-color: salmon;
}

a:hover,
a:focus,
a:focus-visible {
  color: #2a1513;
  background: salmon;
  outline-offset: 0px;
  outline: 2px solid salmon;
  text-decoration-color: #1D2D44;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #141f2f;
    color: #f1f1f1;
  }
  a {
    color: #f1f1f1;
  }
  a:hover,
  a:focus,
  a:focus-visible {
    background: salmon;
    outline-offset: 0px;
    outline: 2px solid salmon;
  }
}